@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Syne', sans-serif;
}

.header_link{
  @apply text-[#626262] text-[10px] md:text-[12px];
}


.hero-text-1{
  font-family: 'Syne', sans-serif;
  color: #fff;
  font-weight:900;
  font-stretch: expanded;
 
  z-index: 50;
}
.hero-text-2{
  font-family: 'Syne', sans-serif;
  
  font-weight:900;
  font-stretch: expanded;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  z-index: 50;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}